USE [master]
GO
/****** Object:  Database [xm]    Script Date: 2024/11/19 22:08:34 ******/
CREATE DATABASE [xm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'xm', FILENAME = N'D:\SQL项目\xm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'xm_log', FILENAME = N'D:\SQL项目\xm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [xm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [xm]
GO
/****** Object:  Table [dbo].[delivery]    Script Date: 2024/11/19 22:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery](
	[deliveryID] [int] IDENTITY(1,1) NOT NULL,
	[delivery_time] [datetime] NOT NULL,
	[delivery_num] [varchar](50) NOT NULL,
	[goods_id] [int] NOT NULL,
 CONSTRAINT [PK_delivery] PRIMARY KEY CLUSTERED 
(
	[deliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 2024/11/19 22:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_name] [varchar](50) NOT NULL,
	[employee_title] [varchar](50) NOT NULL,
	[employee_UID] [varchar](50) NOT NULL,
	[employee_Pwd] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[goods]    Script Date: 2024/11/19 22:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods](
	[goods_id] [int] IDENTITY(1,1) NOT NULL,
	[goods_name] [varchar](50) NOT NULL,
	[goods_price] [decimal](8, 2) NOT NULL,
	[goodtype] [varchar](50) NOT NULL,
	[goods_num] [varchar](50) NOT NULL,
 CONSTRAINT [PK_goods] PRIMARY KEY CLUSTERED 
(
	[goods_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storage]    Script Date: 2024/11/19 22:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storage](
	[storageID] [int] IDENTITY(1,1) NOT NULL,
	[storage_time] [datetime] NOT NULL,
	[storage_num] [varchar](50) NOT NULL,
	[goods_id] [int] NOT NULL,
 CONSTRAINT [PK_storage] PRIMARY KEY CLUSTERED 
(
	[storageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[delivery]  WITH CHECK ADD  CONSTRAINT [FK_delivery_goods] FOREIGN KEY([goods_id])
REFERENCES [dbo].[goods] ([goods_id])
GO
ALTER TABLE [dbo].[delivery] CHECK CONSTRAINT [FK_delivery_goods]
GO
ALTER TABLE [dbo].[goods]  WITH CHECK ADD  CONSTRAINT [FK_goods_goods] FOREIGN KEY([goods_id])
REFERENCES [dbo].[goods] ([goods_id])
GO
ALTER TABLE [dbo].[goods] CHECK CONSTRAINT [FK_goods_goods]
GO
ALTER TABLE [dbo].[storage]  WITH CHECK ADD  CONSTRAINT [FK_storage_goods] FOREIGN KEY([goods_id])
REFERENCES [dbo].[goods] ([goods_id])
GO
ALTER TABLE [dbo].[storage] CHECK CONSTRAINT [FK_storage_goods]
GO
USE [master]
GO
